<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689352022726-v4rf6eor9in29k03ff04m8stk7c4jtcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689352022726-v4rf6eor9in29k03ff04m8stk7c4jtcq</string>
	<key>API_KEY</key>
	<string>AIzaSyCCku7ebD9QvENsUupsivXgz79P1D2fQiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>689352022726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryanye.Honey-Princess</string>
	<key>PROJECT_ID</key>
	<string>honey-princess</string>
	<key>STORAGE_BUCKET</key>
	<string>honey-princess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:689352022726:ios:43f00b03c2fce731</string>
	<key>DATABASE_URL</key>
	<string>https://honey-princess.firebaseio.com</string>
</dict>
</plist>